# Copyright 2026 OLO Labs
# SPDX-License-Identifier: Apache-2.0
.git
.dev
.data
.gradle
target
**/build
**/node_modules
**/__pycache__
.env*
**/*.secret
**/*.secrets
**/*.pem
**/*.key
secrets
credentials
private
logs
reports
