# Copyright 2026 OLO Labs
# SPDX-License-Identifier: Apache-2.0
QUICKSTART_IMAGE=ololab/olo-toolgate-quickstart:dev
QUICKSTART_HTTP_PORT=8089
QUICKSTART_TLS_PORT=8449
TOOLGATE_DISABLE_ADMIN_PASSWORD=true
TOOLGATE_QUICKSTART_DATABASE_MODE=sqlite
