# Copyright 2026 OLO Labs
# SPDX-License-Identifier: Apache-2.0
# Copy to .env.db, fill real credentials; set DATABASE_MODE=postgresql in ../.env.
QUARKUS_DATASOURCE_JDBC_URL=jdbc:postgresql://host.docker.internal:5432/control?sslmode=verify-full&sslrootcert=/external/db-ca.crt
QUARKUS_DATASOURCE_USERNAME=control_app
QUARKUS_DATASOURCE_PASSWORD=
QUARKUS_FLYWAY_USERNAME=control_migrator
QUARKUS_FLYWAY_PASSWORD=
TOOLGATE_CONTROL_DEVELOPMENT_MODE=false
