# Copyright 2026 OLO Labs
# SPDX-License-Identifier: Apache-2.0
CONTROL_IMAGE=ololab/olo-toolgate-control:dev
GATEWAY_IMAGE=ololab/olo-toolgate-gateway:dev
HELPER_IMAGE=ololab/olo-toolgate-quickstart:dev
STACK_TLS_PORT=8444
CONTROL_HTTP_PORT=9082
GATEWAY_HTTP_PORT=9081
