# Copyright 2026 OLO Labs
# SPDX-License-Identifier: Apache-2.0
QUICKSTART_IMAGE=ololab/olo-toolgate-quickstart:dev
QUICKSTART_HTTP_PORT=8080
QUICKSTART_TLS_PORT=8443
TOOLGATE_DISABLE_ADMIN_PASSWORD=false
TOOLGATE_QUICKSTART_DATABASE_MODE=sqlite
TOOLGATE_CACHE_MODE=embedded
